<nav class="navbar fixed-top">
  <div class="container-fluid">
    <ul class="navbar-nav col-md-12">
        <li class="nav-item col-md-2">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item col-md-2">
          <a class="nav-link" href="#info">Info</a>
        </li>
        <li class="nav-item col-md-2">
            <a class="nav-link" href="#writing">Writing</a>
          </li>
        <li class="nav-item dropdown col-md-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Past Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Piece 1</a>
              <a class="dropdown-item" href="#">Piece 2</a>
              <a class="dropdown-item" href="#">Piece 3</a>
            </div>
          </li>
      </ul>
  </div>
</nav>
